
/* KEYFRAME ANIMNATIONS */
@keyframes wave {
    0% {
        border-image-source: linear-gradient(to top left, #c80000, rgb(255, 230, 0));
    }
    25% {
        border-image-source: linear-gradient(to top right, #c80000, rgb(255, 230, 0));
    }
    50% {
        border-image-source: linear-gradient(to bottom right, #c80000, rgb(255, 230, 0));
    }
    75% {
        border-image-source: linear-gradient(to bottom left, #c80000, rgb(255, 230, 0));
    }
    100% {
        border-image-source: linear-gradient(to top left, #c80000, rgb(255, 230, 0));
    }
}
@keyframes partymode {
    0% {
        background-image:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    }
    25% {
        background-image:
        linear-gradient(red, transparent),
        linear-gradient(to top right, lime, transparent),
        linear-gradient(to bottom right, blue, transparent);
    }
    50% {
        background-image:
        linear-gradient(red, transparent),
        linear-gradient(to bottom right, lime, transparent),
        linear-gradient(to bottom left, blue, transparent);
    }
    50% {
        background-image:
        linear-gradient(red, transparent),
        linear-gradient(to bottom left, lime, transparent),
        linear-gradient(to top left, blue, transparent);
    }
    100% {
        background-image:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    }
}

body {
    height: 1500px;
    width: 100%;
    background-image:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}
.party {
    animation: partymode 6s infinite;
}
/* GRID ASSIGNMENTS */


/* CONTAINERS */
.transparent-background-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.container {
    position: relative;
    margin: 40px auto;
    width: 50%;
    height: auto;
    min-height: 400px;
    max-width: 500px;
    min-width: 280px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255);
}
.container.wide {
    width: 80%;
    max-width: none;
}
.container.password {
    margin: 80px auto;
    min-width: 300px;
    max-width: 550px;
    min-height: 0;
    border: solid rgb(13, 197, 234) 5px;
}
.frame, .frame2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border: solid rgb(122, 121, 121) 1px;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 5px;
}
.frame2 {
    padding: 20px 10px;
    border: none;
    justify-content: space-evenly;
}
.frame.forgot {
    width: 80%;
    margin: 0 auto;
}
.top_bar {
    width: 100%;
    height:60px;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 26, 28);
    position: fixed;
    top: 0;
    z-index: 99;
}
.top_bar h4 {
    color: white
}
.tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card {
    margin: 10px;
    height: 400px;
    max-width: 250px;
    min-width: 200px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: rgb(204, 204, 193); */
}
/* GENERIC STYLING*/
.core-color1 {
    color: rgb(48, 48, 100);
}
.core-color2 {
    color: rgb(15, 176, 197);
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.spacer-top {
    margin: 30px 0;
    width: 100%;
    border-top: solid rgb(196, 193, 193) 1px;
}
.spacer-left {
    margin: 0 10px;
    border-left: solid rgb(196, 193, 193) 1px;
    height: 25px;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* HEADERS */
h1 {
    font-size: 36px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Monoton', cursive;
    letter-spacing: 2px;
    word-spacing: 5px;
    color:rgb(65, 12, 173)
}
/* CLASSES */
.login {
    height: 25px;
    width: 100%;
    border: none;
}
.login:focus {
    border: none;
    outline: none
}
.icon {
    height: 25px;
    width: 25px;
}
.input-field {
    text-align: center;
    width: 70%;
    max-width: 350px;
    padding: 3px;
    margin: 5px;
}
.msg {
    text-align: center;
    width:100%;
    height: 50px;
    border: none;
    font-style: italic;
    color: red;
}
.inner_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 280px;
    margin: 0 auto;
    font-weight: bold;
}
.button-users {
    margin: 1px auto;
    width: 80px;
}
.button-hero {
    margin: 30px 0;
    padding: 5px;
    min-width: 150px;
    min-height: 60px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgba(150, 5, 234, 0.155);
    transition: 2s ease all;
}
.button_wide {
    width: 80%;
    max-width: 400px;
    height: 45px;
    margin: 15px 0;
    background-color: rgb(93, 144, 240);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.5s ease all;
}
.button_wide:hover {
    background-color: rgb(130, 170, 243);
    cursor: pointer;
}
/* ID's */
#modal {
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 99; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 60, 60, 0.897);
}
#login_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#button_close {
    position: absolute;
    top: 15px;
    right: 15px;
}
#button_flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    max-width: 350px;
}
.button_top {
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top left, #c80000, rgb(255, 230, 0));
    padding: 3px;    
    animation: wave 4s infinite;
    transition: 0.2s ease all;
}
.button_top:hover {
    background-color: rgb(251, 227, 227);
    cursor: pointer;
}
#logout, #admin, #home, #leaderboard {
    padding: 7.5px;
    width: 75px;
    font-weight: bold;
}
#leaderboard {
    width: 103px;
}
#table-users {
    margin: 40px auto;
    width: 100%;
    border-spacing: 0;
    border: solid black 1px;
    background-color: rgba(255, 255, 255, 0.824);
}
th, td, tr {
    border: solid black 1px;
    background-color: rgb(190, 245, 250);
    padding: 3px;
}
/* HERO CHOICES */
.character_img {
    height: auto;
    width: 100%;
    border-radius: 15px;
}
.no-click {
    pointer-events: none;
}
.correct {
    background-color: green;
    transition: 1.5s ease all;
}
.incorrect {
    background-color: red;
    transition: 1.5s ease all;
}

/* MEDIA QUERIES */
@media screen and (max-width: 550px) {
    .top_bar {
        display: flex;
    }
    .inner_bar {
        margin: 0 10px;
        width: 100%;
        position: relative;
        justify-content: space-between;
        align-items: center;
        float: left;
    }
    .inner_bar p {
        font-size: 14px;
    };
    .character_img {
        height: 180px;
    }
    h1 {
        font-size: 28px;
        margin: 0;
    }
    h3 {
        font-size: 16px;
        margin: 0 0 15px 0;
    }
    .container.table_users {
        padding: 0;
    }
    .table_users {
        margin: 0;
        font-size: 12px;
        padding: 0;
    }
    .inner_bar h4 {
        display: none;
    }
    .inner_bar {
        justify-content: center;
    }
    .top_bar {
        width: 100%;
    }
}

/* TEST AREA */
