body {
    background-color: rgb(93, 144, 240);
}
/* GRID ASSIGNMENTS */


/* CONTAINERS */
.container {
    text-align: center;
    margin: 50px auto;
    width: 50%;
    height: auto;
    max-width: 500px;
    min-width: 280px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}
.frame, .frame2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border: solid rgb(122, 121, 121) 1px;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 5px;
}
.frame2 {
    padding: 20px 10px;
    justify-content: space-evenly;
}
/* GENERIC STYLING*/
.bold {
    font-weight: bold;
}
.spacer-top {
    margin: 30px 0;
    width: 100%;
    border-top: solid rgb(196, 193, 193) 1px;
}
.spacer-left {
    margin: 0 10px;
    border-left: solid rgb(196, 193, 193) 1px;
    height: 25px;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
/* CLASSES */
.login {
    height: 25px;
    width: 100%;
    border: none;
}
.login:focus {
    border: none;
    outline: none
}
.icon {
    height: 25px;
    width: 25px;
}
.input-field {
    text-align: center;
    width: 70%;
    padding: 3px;
    margin: 5px;
}
.msg {
    font-style: italic;
    color: red;
}

/* ID's */
#wide_button {
    width: 80%;
    height: 45px;
    background-color: rgb(93, 144, 240);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}
#login_button:hover {
    background-color: rgb(130, 170, 243);
}
#login_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}