{% extends "base.html" %}

{% block main %}
<style>
.transparent-background-fixed {
    position: relative;
}
</style>

<div class="container home">
    <h1>UNLOCKED CARDS</h1>
    {% if count %}
    <h4> - You have collected <span class="core-color2" style="font-size: 22px">{{count}}</span> cards! - </h4>
    {% else %}
    <h4>- Welcome Newbie! - </h4>
    {% endif %}
    <form action="/play">
        <button class="button-hero"id="button_wide">EARN MORE CARDS!</button>
    </form>
    <p class="msg">{{msg}}</p>
    <div class="flex-row">
        <div class="tile">            
            {% for card in card_list %}
            <div class="card" style="background-image:'{{card['url']}}'">
                <img src="{{card['url']}}" alt="Hero image" class="tile-image" height="150px">
                <p>CARD ID: {{card['card_id']}} </p>
                <p>NAME: {{card['name']}}</p>
                <p>DESCRIPTION: {{card['description']}}</p>
                
            </div>
            {% endfor %}           
        </div>
    </div>
</div>

{% if settings_clicked %}
<div class="modal">
    <div class="container password">
        <form action="/">
            <button id="button_close" formaction="/">X</button>
        </form>
        <h1>SETTINGS</h1>         
        <form action="/settings_action" method="POST">
            <input type="hidden" name="forgot" value="true">
            <!-- give user ability to persalise account -->
            <input type="checkbox">Activate party mode
            <button>SAVE</button>
        </form>         
        
        </form>
    </div>
</div>
{% endif %}

{% endblock %}