{% extends "base.html" %}

{% block title %}
    Card Collector - Home
{% endblock %}

{% block main %}
<style>
.transparent-background-fixed {
    position: relative;
}
</style>

<div class="container wide">
    <h1>UNLOCKED CARDS</h1>
    {% if count %}
    <h4> - You hAve collected <span class="core-color2" style="font-size: 22px">{{count}}</span> cArds! - </h4>
    {% else %}
    <h4>- Welcome Newbie! - </h4>
    {% endif %}
    <form action='/play'>
        <button class="button_wide" id="click_to_play">CLICK TO PLAY!</button>
    </form>
    {% if count %}
    <form action='/home'>
        <select name="filter">            
            <option value="card_id/False">Select an option...</option>
            <option value="id/True">Recently added</option>
            <option value="name/False">Alphabetical (A to Z)</option>
            <option value="name/True">Alphabetical (Z to A)</option>            
        </select>
        <button>FILTER</button>
    </form>
    {% endif %}

    <p class="msg">{{msg}}</p>
    <div class="flex-row">
        <div class="tile">            
            {% for card in card_list %}
            <div class="card" style="background-image:'{{card['url']}}'">
                <img src="{{card['url']}}" alt="Hero image" class="tile-image" height="150px">
                <p>CARD ID: {{card['card_id']}} </p>
                <p>NAME: {{card['name']}}</p>
                <p>DESCRIPTION: {{card['description']}}</p>
                
            </div>
            {% endfor %}           
        </div>
    </div>
</div>

{% endblock %}