{% extends "base.html" %}

{% block main %}
<div class="container">
    YOUR CARDS - Get more correct and add to your collection!
    <!-- for card of cards -->
    <!-- flexbox the results -->
    <div class="tile">
        <!-- SQL result to load all cards with status=True -->
    </div>
    <!-- endfor -->
    <form action="/play">
        <button>PLAY NOW</button>
    </form>
</div>


{% if settings_clicked %}
<div class="modal">
    <div class="container password">
        <form action="/">
            <button id="button_close" formaction="/">X</button>
        </form>
        <h1>SETTINGS</h1>         
        <form action="/settings_action" method="POST">
            <input type="hidden" name="forgot" value="true">
            <!-- give user ability to persalise account -->
            <input type="checkbox">Activate party mode
            <button>SAVE</button>
        </form>         
        
        </form>
    </div>
</div>
{% endif %}
    <p class="msg">{{msg}}</p>
{% endblock %}